<%- include('../fragments/header.ejs') %>
<main>

    <script type="application/javascript" src="/js/validationDrinkForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateDrink();">
        <input type="hidden" name="_id" value="<%= drink._id %>">

        <label for="name">Nazwa:<span>* </span></label>
        <input type="text" name="name" id="name" placeholder="2-60 znaków" value="<%= drink.name %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorName" class="errors-text required ">
            <% if(validationErrors) {
                    if (validationErrors.find(e => e.path.includes('name'))) { %>
            <%= validationErrors.find(e => e.path.includes('name')).message %>
            <% }
                 }
             %>
        </span>


        <label for="prize">Cena:<span>* </span></label>
        <input type="number" name="prize" id="prize" placeholder="liczba dodatnia" value="<%= drink.prize %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>>

        <span id="errorCost" class="errors-text required ">
            <% if(validationErrors) {
                if (validationErrors.find(e => e.path.includes('prize'))) { %>
            <%= validationErrors.find(e => e.path.includes('prize')).message %>
            <% }
             }
         %>
        </span>

        <label for="description">Opis:<span>* </span></label>
        <input type="text" name="description" id="description" placeholder="2-60 znaków"
            value="<%= drink.description %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorDescription" class="errors-text required ">
            <% if(validationErrors) {
                if (validationErrors.find(e => e.path.includes('description'))) { %>
            <%= validationErrors.find(e => e.path.includes('description')).message %>
            <% }
             }
         %>
        </span>


        <label for="Podanie">Propozycja podania:</label>
        <textarea name="serve" id="serve" cols="30" rows="10" value="<%= drink.serve %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>></textarea>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text required ">
                <span> Pola z "<span class="gwiazdka">*</span>" sa wymagane
                </span>
            </p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
            <a class="form-button-cancel" href="/drinks">Anuluj</a>
            <% } else { %>
            <a class="form-button-cancel" href="/drinks">Powrot</a>
            <% } %>
        </div>




    </form>

    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
    <h2>
        Szczegóły proporcji
    </h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Skladnik</th>
                <th>gramatura</th>
                <th>Cena gramatury</th>
            </tr>
        </thead>
        <tbody>
            <% for (let p of drink.proportions) { %>
            <tr>
                <td>
                    <a href="/ingreadients/details/<%= p.ingreadient._id %>"
                        style="text-decoration: none; color: whitesmoke;"><%= p.ingreadient.name %>
                    </a>
                </td>
                <td><%= p.grammage %></td>
                <td><%= p.costByGrammage %></td>
            </tr>

            <% } %>
        </tbody>
    </table>
    <% } %>
</main>
<%- include('../fragments/footer.ejs') %>