<%- include('../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationIngreadientForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateIngreadient();">
        <input type="hidden" name="_id" value="<%= ingre._id %>">


        <label for="name">Nazwa:<span>* </span></label>
        <input type="text" name="name" id="name" placeholder="2-60 znaków" value="<%= ingre.name %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorName" class="errors-text required ">
            <% if(validationErrors) {
                if (validationErrors.find(e => e.path.includes('name'))) { %>
            <%= validationErrors.find(e => e.path.includes('name')).message %>
            <% }
             }
         %>
        </span>


        <label for="costPer100g">Cena(pln/100g)<span>* </span></label>
        <input type="number" name="costPer100g" id="costPer100g" placeholder="wartosc od 0 do 1000"
            value="<%= ingre.costPer100g %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorCost" class="errors-text required ">
            <% if(validationErrors) {
                if (validationErrors.find(e => e.path.includes('costPer100g'))) { %>
            <%= validationErrors.find(e => e.path.includes('costPer100g')).message %>
            <% }
             }
         %>
        </span>


        <label for="description">Opis skladnika:</label>
        <input type="text" name="description" id="description" placeholder="wprowadz opis"
            value="<%= ingre.description %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />

        <span id="errorDescription" class="errors-text required ">
            <% if(validationErrors) {
                if (validationErrors.find(e => e.path.includes('description'))) { %>
            <%= validationErrors.find(e => e.path.includes('description')).message %>
            <% }
             }
         %>
        </span>

        <% if (formMode == 'showDetails') { %>
        <div class="section-buttons">
            <a href="/ingreadient/edit/<%= ingre._id %>" class="edit">Edytuj</a>
        </div>
        <% } %>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text required"> <span> Pola z "<span class="gwiazdka">*</span>" sa
                    wymagane
                </span></p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
            <a class="form-button-cancel" href="/ingreadient">Anuluj</a>
            <% } else { %>
            <a class="form-button-cancel" href="/ingreadient">Powrót</a>
            <% } %>
        </div>


    </form>

    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
    <h2>
        Szczegóły proporcji
    </h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Drink</th>
                <th>Grmatura</th>
                <th>Cena gramatury</th>
            </tr>
        </thead>
        <tbody>
            <% for (let p of ingre.proportions) { %>
            <tr>
                <td><a href="/ingreadient/details/<%= p.ingre_id %>"
                        style="text-decoration: none; color: whitesmoke;"><%= p.drink.name %></a></td>
                <td><%= p.grammage %></td>
                <td><%= p.costByGrammage %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>


</main>
<%- include('../fragments/footer.ejs') %>