<%- include('../fragments/header.ejs') %>
<main>
    <h2>Skladniki</h2>

    <table class="table-list">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Koszt(100g)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (let ingre of ingres) { %>
            <tr>
                <td><%= ingre.name %></td>
                <td><%= ingre.costPer100g %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/ingreadient/details/<%=ingre._id%>" class="details">Szczegóły</a>
                            <a class="infoIcon" href="/ingreadient/details/<%=ingre._id%>"><i
                                    class="fas fa-info-circle"></i></a>
                        </li>
                        <li>
                            <a href="/ingreadient/edit/<%= ingre._id%>" class="edit">Edytuj</a>
                            <a href="/ingreadient/edit/<%= ingre._id%>"><i class="fas fa-edit"></i></a>
                        </li>

                        <li>
                            <a href="/ingreadient/delete/<%=ingre._id%>" class="delete">Usuń</a>
                            <a href="/ingreadient/delete/<%=ingre._id%>"><i class="fas fa-trash"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>

    </table>
    <a class="button-add" href="ingreadient/add" .html">Dodaj nowy skladnik</a>


</main>
<%- include('../fragments/footer.ejs') %>